.boxStyle {
    border: 3px solid black;
    border-radius: 20px;
    background: linear-gradient(180deg, #29b6d1 0%, gray 100%);
    
    position: absolute;    
    left: 30vw;
    top: 25vh;
  
    padding: 40px;
  
  }
  
  .styleLogin {
    width: 20%;
  
    display: flex;
    align-items: center;
    justify-content: center;
        
    padding: 10px 50px 10px 50px;
    margin: 25px auto;
    
    border: 3px solid black;
    border-radius: 15px;
    background-color: aqua;
    
    outline: none;
    transition: background-color .2s;
  }
  
  .styleLogin:hover {
    background-color: aquamarine;
  }

  /* .invisible {
    visibility: hidden;
  } */
  
  .styleInput {
    outline: none;
    border: 3px solid black;   
    
    padding: 10px 10px;
    margin: 15px auto;
  
    display: flex;
    align-items: left;
    justify-content: left;
  
    width: 25vw;
  }

  #link1 {
    text-decoration: none;
    color: black;
  }
 
/* RESPONSIVE */
@media (max-width: 580px) {
  .boxStyle {
    width: min-content;
  }  
}