.main-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.data {
    border: 3px solid black;
    border-radius: 20px;
    background: linear-gradient(180deg, #29b6d1 0%, gray 100%);
    padding: 40px;
}

strong, span {
    color:black;
    font-size: 1.2rem;
    margin: 0.2rem;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.styleLogin {
    width: 50%;
    padding: 10px;
}

#link1 {
    text-decoration: none;
}