.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#lk1 {
    text-decoration: none;
    color: black;  
    
    display: flex;
    /* align-items: flex-start; */
    justify-content: center;
}

.btn {
    width: 15vw;
  
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 10px;
    margin: 15px auto;
    
    border: 3px solid black;
    border-radius: 15px;
    background-color: aqua;
    
    outline: none;
    transition: background-color .2s;
}

.btn:hover {
    background-color: aquamarine;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FORM */
/* div#form {
    width: 96%;
    margin-top: 4rem;
    margin-bottom: 4rem;
} */

div.input-group label {
    font-size: 3rem;
    
    width: 100%;
    
    background: -webkit-linear-gradient(rgb(40, 77, 82), rgb(24, 24, 26));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

input {
    border: none;
    border-radius: 0.2rem;

    padding: 0.8rem;

    width: 100%;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group .help {
    opacity: 0.4;
}

.input-group small {
    font-size: 1.3rem;
}

 /* VIEW DATA */
 .modal-overlay {
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
}

.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #c6cad3;
    padding: 2.4rem;
    /* position: relative;
    
    width: 90%;
    max-width: 500px; */
}

/* TABLE */
#data-table {
    display: block;
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969cb3;

    overflow-x: auto;
}

table thead tr th:first-child, 
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child, 
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

table thead th {
    background: white;
    
    font-weight: normal;
    padding: 1rem 4rem;

    text-align: left;
   
    /*opacity: 0.6;*/
}

tbody td {
    font-size: 1.2rem;
    color: black;

    background-color: white;
    text-align: center;
}

/* tbody tr img{
    flex: 1;
} */

tbody tr a{
    flex: 1;

    font: 15pt Lucida, serif;
    color: rgba(202, 23, 23, 0.6);
    margin-left: 10px;
    
}

tbody tr a:hover {
  cursor: pointer;
  color: rgb(107, 11, 11);
}

